{% extends 'base.html.twig' %}

{% block title %} <title> {{ category.label }} </title>{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mt-5 pt-5">{{ category.label }}</h1>

        {% for traobject in category.traobject %}

            <article class="col-md-3">
                {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
            </article>

        {% endfor %}
    </div>
{% endblock %}
