{% extends 'base.html.twig' %}

{% block title %} <title> Objets {{ state.label }} </title>{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mt-5 pt-5">Objets {{ state.label }}s</h1>

            <div class="row">
                {% for traobject in traobjects %}
                    <article class="col-md-3">
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
                    </article>
                {% endfor %}
            </div>


    </div>
{% endblock %}
