{% extends 'base.html.twig' %}

{% block title %}Nouveau Traobjet{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Déposer une annonce</h1>

    {{ include('traobject/_form.html.twig') }}

    <a href="{{ path('traobject_index') }}">Retour à la liste</a>

</div>

{% endblock %}
