{% extends 'base.html.twig' %}

{% block title %} <title> {{ category.label }} </title>{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mt-5 pt-5">{{ category.label }}</h1>

        {% if traobjects %}
            <h2>Objets trouvés</h2>

            <div class="row">
                {% for traobject in traobjects if traobject.state=='Trouvé' %}
                    <article class="col-md-3">
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
                    </article>
                {% else %}
                    Aucun objets trouvés dans la catégorie {{ category.label }}
                {% endfor %}
            </div>
        {% else %}
            Aucun objets trouvés

        {% endif %}



    </div>
{% endblock %}
